
{% extends "base.html"%}

<!-- {% block content %} -->
<hgroup>
    <h2>R-P-S</h2>
    <h3>Enter your name and choice</h3>
</hgroup>

<form action="/winner" methods="POST">
<label for="title">Name</label>
<input type="text" id="player-1" name="player-1"> 
<label for="date">Choice</label>
<input type="text" id="choice-1" name="choice-1">
<label for="title">Name</label>
<input type="text" id="player-2" name="player-2"> 
<label for="date">Choice</label>
<input type="text" id="choice-2" name="choice-2">
<input type="submit" value="Enter">
</form>

<!-- {% endblock %} -->